ORDER_COUNT_PREFIX=u'order_'
AVAILABLE_PREFIX=u'available_'

DEFAULT_SETTINGS = {
    u'closed_message': u'Orders are currently closed.',
    u'farm': u'Farm Name',
    u'mail_from': u'Farmer <farm@farm.farm>',
    u'receipt_subject': u'Thanks for your order',
    u'receipt_body': u"""Dear {name},

Thanks for your order at {farm}! You can view your receipt at:
{receipt_url}

Sincerely,

The {farm} robot""",
    u'delivery_hint': u"Will you be picking up in Wallingford or Crown Hill?",
    u'register_success': u"Thanks! We'll be in touch.",
    u'register_subject': u"[{farm}] Account requested",
    u'register_body': u"""An account has been requested for the {farm} ordering site.

Name: {name}
Email: {email}

You can create a new account at: {url}

Lovingly,

The {farm} robot""",
    u'home_link': u'/',
    u'timezone': u'US/Pacific',
    u'order_message': u'',
}

INITIAL_USER_EMAIL = 'user@example.com'
INITIAL_USER_NAME = 'Administrator'
INITIAL_USER_PASSWORD = 'moonrabbit'

ADMIN_SETTINGS = [
    'closed_message',
    'farm',
    'mail_from',
    'receipt_subject',
    'receipt_body',
    'home_link',
]

# vim: set ft=python :
