.prodlist form {
    display: inline-block;
}
.pricefld {
    width: 4em;
}

.countfld {
    width: 3em;
}

.totalLabel {
    text-align: right !important;
}

.product {
    clear: both;
    margin-bottom: 0.5em;
    height: 85px;
}
.product .photo {
    float: left;
    width: 85px;
    height: 85px;
}
.product .details {
    float: left;
}
.product .prodname {
    font-weight: bold;
    display: block;
}
.product .price {
    display: block;
}
.orderTotal {
    clear: both;
}

@media print {
    body {
        font-family: Helvetica, sans-serif;
    }
    .navbar {
        display: none;
    }
    a:link {
        text-decoration: none;
        color: inherit;
    }
    .order .name {
        font-weight: bold;
    }
    .order {
        page-break-inside: avoid;
    }
}
