{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span8">

<h2>Settings</h2>

<form method="POST" action="">
    <p>
        <label for="farm">Farm name</label>
        <input name="farm" value="{{ g.state.farm }}">
    </p>
    <p>
        <label for="closed_message">Message when orders are closed</label>
        <textarea name="closed_message" rows="4" class="input-block-level">
            {{- g.state.closed_message -}}
        </textarea>
    </p>
    <p>
        <label for="home_link">Homepage link</label>
        <input type="url" name="home_link" value="{{ g.state.home_link }}">
    </p>

    <h3>Email Stuff</h3>
    <p>
        <label for="mail_from">Email "from" address</label>
        <input type="email" name="mail_from" value="{{ g.state.mail_from }}">
    </p>
    <p>
        <label for="receipt_subject">Receipt email subject</label>
        <input name="receipt_subject" value="{{ g.state.receipt_subject }}">
    </p>
    <p>
        <label for="receipt_body">Receipt email body</label>
        <textarea name="receipt_body" rows="4" class="input-block-level">
            {{- g.state.receipt_body -}}
        </textarea>
    </p>

    <button class="btn btn-primary" type="submit">
        Save
    </button> 
</form>

</div>
</div>
{% endblock %}
