{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col">

<h2>Settings</h2>

<form method="POST" action="">
    <div class="form-group">
        <label for="farm">Farm name</label>
        <input class="form-control" name="farm" value="{{ g.state.farm }}">
    </div>
    <div class="form-group">
        <label for="closed_message">Message when orders are closed</label>
        <textarea name="closed_message" rows="4" class="form-control">
            {{- g.state.closed_message -}}
        </textarea>
    </div>
    <div class="form-group">
        <label for="home_link">Homepage link</label>
        <input class="form-control" type="url" name="home_link"
            value="{{ g.state.home_link }}">
    </div>

    <h3>Email Stuff</h3>
    <div class="form-group">
        <label for="mail_from">Email "from" address</label>
        <input class="form-control" type="email" name="mail_from"
            value="{{ g.state.mail_from }}">
    </div>
    <div class="form-group">
        <label for="receipt_subject">Receipt email subject</label>
        <input class="form-control" name="receipt_subject"
            value="{{ g.state.receipt_subject }}">
    </div>
    <div class="form-group">
        <label for="receipt_body">Receipt email body</label>
        <textarea name="receipt_body" rows="4" class="form-control">
            {{- g.state.receipt_body -}}
        </textarea>
    </div>

    <h3>Ordering</h3>
    <div class="form-group">
        <label for="locations">Pickup locations (one per line)</label>
        <textarea name="locations" rows="4" class="form-control">
            {{- g.state.locations -}}
        </textarea>
    </div>

    <button class="btn btn-primary" type="submit">
        Save
    </button>
</form>

</div>
</div>
{% endblock %}
