{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <form action="" method="POST">
                <h3>Next Harvest</h3>
                <div class="form-group">
                    Orders are currently
                    <strong>
                        {%- if g.state.open -%}
                            open
                        {%- else -%}
                            closed
                        {%- endif -%}
                    </strong>.
                </div>
                <input type="text" name="next_harvest" class="form-control"
                    value="{{ g.state.next_harvest | dt(True) }}">

                <div class="form-group">
                    <label for="order_message">
                        Message on the order form page:
                    </label>
                    <textarea name="order_message" rows="3"
                        class="form-control">
                        {{- g.state.order_message -}}
                    </textarea>
                </div>

                <h3>Available Products</h3>
                <ul>
                {% for product in products %}
                <li><label class="checkbox">
                    <input type="checkbox"
                        class="form-control"
                        name="{{ config.AVAILABLE_PREFIX }}{{ product.id }}"
                        {% if product.available %}
                            checked="checked"
                        {% endif %}
                        value="1">
                    {{ product.name }}
                </label></li>
                {% endfor %}
                </ul>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
