{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span8">
            <form action="" method="POST">
                <h3>Next Harvest</h3>
                <p>
                    Orders are currently
                    <strong>
                        {%- if g.state.open -%}
                            open
                        {%- else -%}
                            closed
                        {%- endif -%}
                    </strong>.
                </p>
                <input type="text" name="next_harvest"
                    value="{{ g.state.next_harvest | dt(True) }}">

                <h3>Available Products</h3>
                <ul>
                {% for product in products %}
                <li><label class="checkbox">
                    <input type="checkbox"
                        name="{{ config.AVAILABLE_PREFIX }}{{ product.id }}"
                        {% if product.available %}
                            checked="checked"
                        {% endif %}
                        value="1">
                    {{ product.name }}
                </label></li>
                {% endfor %}
                </ul>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
