<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Moon Rabbit Urban Farm</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Moon Rabbit Urban Farm</a>
                {% if g.user %}
                <ul class="nav">
                    {% if g.user.admin %}
                        <li><a href="{{ url_for('availability') }}">
                            Availability
                        </a></li>
                        <li><a href="{{ url_for('products') }}">
                            Products
                        </a></li>
                        <li><a href="{{ url_for('harvest') }}">
                            Harvest List
                        </a></li>
                        <li><a href="{{ url_for('customers') }}">
                            Customers
                        </a></li>
                    {% else %}
                        <li><a href="{{ url_for('order') }}">
                            Place Order
                        </a></li>
                        <li><a href="{{ url_for('orders') }}">
                            History
                        </a></li>
                        <li><a href="{{ url_for('customer', user_id=g.user.id) }}">
                            Account
                        </a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                </ul>
                {% endif %}
            </div>
        </div>

        <div class="container">
            {% block content %}
            <div class="row">
                <div class="span12">
                    <h1>Something</h1>
                </div>
            </div>
            {% endblock %}
        </div>

        <script src="/static/jquery-1.8.3.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
    </body>
</html>
