<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ g.state.farm }}</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/mruf.css" rel="stylesheet" media="screen">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light navbar-toggleable-md bg-faded">
            <a class="navbar-brand" href="{{ g.state.home_link }}">
                {{ g.state.farm }}
            </a>
            <ul class="navbar-nav mr-auto">
                {% if g.admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('availability') }}">
                        Availability
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('products') }}">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('latest_harvest') }}">
                        Harvest List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customers') }}">
                        Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin') }}">
                        Admin
                    </a>
                </li>
                {% elif g.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('order') }}">
                        Place Order
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('customer', user_id=g.user.id) }}">
                        Account
                        <strong>
                            (Balance: {{ g.user.balance | price }})
                        </strong>
                    </a>
                </li>
                {% endif %}
                {% if g.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">
                        Sign Out
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main') }}">
                        Sign In
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('products') }}">
                        What&rsquo;s Available
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div class="container">
            {% block content %}
            <div class="row">
                <div class="span12">
                    <h1>Something</h1>
                </div>
            </div>
            {% endblock %}
        </div>

        <script src="/static/jquery-3.1.1.slim.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/mruf.js"></script>
    </body>
</html>
