{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span8">

<h3>Transaction for {{ transaction.customer.name }}</h3>
<form action="{{ url_for('creditdebit', txn_id=transaction.id) }}"
    method="POST">
    <p>
        <input type="text" name="description" placeholder="Description"
            value="{{ transaction.description }}">
    </p>
    <p>
        <input type="text" name="date" placeholder="Date"
            value="{{ transaction.date | dt }}">
    </p>
    <p>
        <input type="text" name="amount" pattern="^\$?\d+([\.\,]\d{2})?$"
            placeholder="Amount"
            value="{{ transaction.amount | price }}">
    </p>
    <p>
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </p>
</form>
<form action="{{ url_for('creditdebit', txn_id=transaction.id) }}"
    method="DELETE">
    <button type="submit" class="btn btn-danger">
        Delete
    </button>
</form>

</div>
</div>
{% endblock %}
