{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <h2>Customers</h2>
            {% if action %}
                <div class="alert alert-success">
                    {{ action }}
                </div>
            {% endif %}
            <ul>
            {% for user in customers %}
                <li>
                    <a href="{{ url_for('customer', user_id=user.id)}}">
                        {{ user.name }}   ({{ user.balance }})
                    </a>
                </li>
            {% endfor %}
            </ul>

            <h2>Add a new customer</h2>
            <form action="" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">
                    Add
                </button>
            </form>

            <h2>Farmers</h2>
            <ul>
            {% for user in farmers %}
                <li>
                    <a href="{{ url_for('customer', user_id=user.id)}}">
                        {{ user.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>

            <h2>Fruit</h2>

                Credit or debit accounts of all customers with fruit share:
                </p>
                <form method="POST" action="{{ url_for('fruit') }}">
                    <div class="form-group">
                        <input name="description" type="text"
                            class="form-control"
                            value="Fruit Share">
                    </div>
                    <div class="form-group">
                        <input type="text" name="amount"
                            pattern="^\-?\$?\d+([\.\,]\d{2})?$"
                            class="form-control"
                            placeholder="Amount">
                    </div>
                    <button class="btn btn-primary" type="submit">
                        Add
                    </button>
                </form>
            </p>
        </div>
    </div>
{% endblock %}
