{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span9">

<h2>Profile</h2>

<form action="" method="POST">
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" value="{{ user.name }}">
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{ user.email }}"
            autocomplete="off">
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="off">
    </p>
    <p>
        <label for="delivery_notes">
            Pickup Location<br>
            <span class="muted">{{ g.state.delivery_hint }}</span>
        </label>
        {% for shortname, longname in g.state.location_map.iteritems() %}
        <label class="checkbox inline">
            <input type="radio" name="pickup" value="{{ shortname }}"
                {%- if user.delivery_notes == "{{ shortname }}" -%}
                    checked="checked"
                {%- endif -%}
            >
            {{ longname }}
        </label>
        {% endfor %}
    </p>
    {% if g.admin %}
    <p>
        <label class="checkbox inline">
            <input type="checkbox" name="farmer" value="1"
                {%- if user.admin -%}
                    checked="checked"
                {%- endif -%}
            >
            Farmer
        </label>
    </p>
    <p>
        <label class="checkbox inline">
            <input type="checkbox" name="fruit" value="1"
                {%- if user.fruit -%}
                    checked="checked"
                {%- endif -%}
            >
            Fruit Share
        </label>
    </p>
    {% endif %}
    <p>
        <button type="submit" class="btn btn-primary">
            Save
        </button>
    </p>
</form>

<h2>Account history</h2>

{% with transactions = user.account_history %}
    {% if transactions %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Transaction</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for txn in transactions %}
                <tr>
                    {% if txn.placed is defined %}
                        {# An order. #}
                        <td>{{ txn.placed | dt }}</td>
                        <td>
                            <a href="
                                {%- if g.admin -%}
                                    {{ url_for('edit_order', order_id=txn.id) }}
                                {%- else -%}
                                    {{ url_for('receipt', order_id=txn.id) }}
                                {%- endif %}">
                                Order for {{ txn.harvested | dt }}
                            </a>
                        </td>
                        <td>{{ (0 - txn.total) | price }}</td>
                    {% else %}
                        {# A credit/debit. #}
                        <td>{{ txn.date | dt }}</td>
                        <td>
                            {% if g.admin %}
                            <a href="{{ url_for('creditdebit',
                                                txn_id=txn.id) }}">
                            {% endif %}
                            {{ txn.description }}
                            {% if g.admin %}
                            </a>
                            {% endif %}
                        </td>
                        <td>{{ txn.amount | price }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2" class="totalLabel">Balance</th>
                    <th>{{ user.balance | price }}</th>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>No transactions yet.</p>
    {% endif %}
{% endwith %}

{% if g.admin %}
<h2>Actions</h2>

<p><a href="{{ url_for('order_for', user_id=user.id) }}">
    Place an order for {{ user.name }}.
</a></p>

<p>
    Credit or debit {{ user.name }}'s account:
</p>
<form method="POST" action="{{ url_for('new_creditdebit', user_id=user.id) }}">
    <p>
        <input name="description" type="text"
           placeholder="Description">
    </p>
    <p>
        <input type="text" name="amount" pattern="^\-?\$?\d+([\.\,]\d{2})?$"
            placeholder="Amount">
    </p>
    <button class="btn btn-primary" type="submit">
        Add
    </button>
</form>

<p>
    Delete {{ user.name }}'s account <strong>permanently</strong>:
</p>
<form method="DELETE" action="">
    <button type="submit" class="btn btn-danger">
        Delete
    </button>
</form>
{% endif %}

</div>
</div>
{% endblock %}
