{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col">

Showing
{% if orders | length == 1 %}
    one order
{% else %}
    {{ orders | length }} orders
{% endif %}
for {{ harvestdt | dt }}.
<a href="{{ url_for('harvests') }}">
    Show all harvests.
</a>

<h2>Harvest List</h2>
<ul>
{% for product, items, total in product_info %}
    <li>
        {{ product.name }}: {{ total }}
    </li>
{% endfor %}
</ul>

<h2>Orders</h2>
{% for order in orders %}
    <li>
        <a href="{{ url_for('customer', user_id=order.customer.id) }}">
            {{- order.customer.name -}}
        </a>:
        <a href="{{ url_for('edit_order', order_id=order.id) }}">
            {{- order.total | price -}}
        </a>.
        Delivery: {{ order.customer.delivery_notes }}
        <ul>
        {% for item in order.items %}
            <li>
                {{ item.product.name }}:
                {{ item.count }}
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}

<h2>Email addresses for all Customers with orders</h2>
{% for order in orders %}
    {{- order.customer.email -}}
{% endfor %}

</div>
</div>
{% endblock %}
