{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span4">
            <h2>Sign in</h2>
            {% if error %}
                <div class="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form class="form-signin" method="POST" action="/login">
                <input name="email" type="text"
                    class="input-block-level" placeholder="Email address">
                <input name="password" type="password"
                    class="input-block-level" placeholder="Password">

                <button class="btn btn-large btn-primary" type="submit">
                    Sign in
                </button> 
            </form>
        </div>
    </div>
{% endblock %}
