{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            {% for category, message in
                    get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
            {% endfor %}

            <h2>Sign in</h2>
            <form class="form-signin" method="POST" action="/login">
                <div class="form-group">
                    <input name="email" type="email"
                        class="input-block-level" placeholder="Email address">
                </div>
                <div class="form-group">
                    <input name="password" type="password"
                        class="input-block-level" placeholder="Password">
                </div>
                <div class="form-group">
                    <input name="next" type="hidden"
                        value="{{ next }}">
                </div>

                <button class="btn btn-primary" type="submit">
                    Sign in
                </button>
            </form>

            <h4>New here?</h4>
            <p>
                If you don't have an account yet, fill out this form and we'll
                set one up for you.
            </p>
            <form method="POST" action="/register">
                <div class="form-group">
                    <input name="name" type="text"
                        class="input-block-level" placeholder="Your name">
                </div>
                <div class="form-group">
                    <input name="email" type="email"
                        class="input-block-level" placeholder="Email address">
                </div>

                <button class="btn" type="submit">
                    Register
                </button>
            </form>
        </div>
    </div>
{% endblock %}
