{% macro userlink(user) %}
<a href="{{ url_for('customer', user_id=user.id) }}">
    {{ user.name }}
</a>
{% endmacro %}

{% macro txtable(g, transactions, user=None) -%}
    {% if transactions %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    {% if not user %}<th>Customer</th>{% endif %}
                    <th>Transaction</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for txn in transactions %}
                <tr>
                    {% if txn.placed is defined %}
                        {# An order. #}
                        <td>{{ txn.placed | dt }}</td>
                        {% if not user -%}
                        <td>{{ userlink(txn.customer) }}</td>
                        {%- endif %}
                        <td>
                            <a href="
                                {%- if g.admin -%}
                                    {{ url_for('edit_order', order_id=txn.id) }}
                                {%- else -%}
                                    {{ url_for('receipt', order_id=txn.id) }}
                                {%- endif %}">
                                Order for {{ txn.harvested | dt }}
                            </a>
                        </td>
                        <td>{{ (0 - txn.total) | price }}</td>
                    {% else %}
                        {# A credit/debit. #}
                        <td>{{ txn.date | dt }}</td>
                        {% if not user -%}
                        <td>{{ userlink(txn.customer) }}</td>
                        {%- endif %}
                        <td>
                            {% if g.admin %}
                            <a href="{{ url_for('creditdebit',
                                                txn_id=txn.id) }}">
                            {% endif %}
                            {{ txn.description }}
                            {% if g.admin %}
                            </a>
                            {% endif %}
                        </td>
                        <td>{{ txn.amount | price }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            {% if user -%}
            <tfoot>
                <tr>
                    <th colspan="2" class="totalLabel">Balance</th>
                    <th>{{ user.balance | price }}</th>
                </tr>
            </tfoot>
            {%- endif %}
        </table>
    {% else %}
        <p>No transactions yet.</p>
    {% endif %}
{%- endmacro %}
