{% extends "base.html" %}
{% import "_macros.html" as macros with context %}
{% block content %}
<div class="row">
<div class="span8">
{% if g.state.open %}

{% if g.admin %}
    <h2>Create an order for {{ user.name }}</h2>
{% else %}
    <h2>Place an order</h2>
    <p>
        Place an order before {{ g.state.next_harvest | dt(True) }}.
    </p>
{% endif %}

{% if g.state.order_message %}
<div class="alert alert-info">
    {{ g.state.order_message }}
</div>
{% endif %}

<form action="" method="POST">
{{ macros.orderform(products, None) }}
<div>
    <h2>Please select your pickup location</h2>
    <label class="checkbox inline">
            <input type="radio" name="pickup" value="Wallingford"
                {%- if user.delivery_notes != "Crown Hill" -%}
                    checked="checked"
                {%- endif -%}
            >
            Wallingford - Saturdays
        </label>
        <label class="checkbox inline">
            <input type="radio" name="pickup" value="Crown Hill"
                {%- if user.delivery_notes == "Crown Hill" -%}
                    checked="checked"
                {%- endif -%}
            >
            Crown Hill - Wednesdays
        </label>
</div>
    <p></p>
<p class="orderSubmit">
    <button type="submit" class="btn btn-primary">
        Place order
    </button>
</p>
</form>

{% else %}

<p>
    {{ g.state.closed_message }}
</p>

{% endif %}
</div>
</div>
{% endblock %}
