{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span8">
            <h2>Order History</h2>
            <ul>
            {% for order in orders %}
                <li>
                    Total: {{ order.total | price }}
                    <a href="{{ url_for('receipt', order_id=order.id) }}">
                        (receipt)
                    </a>
                    <ul>
                    {% for item in order.items %}
                        <li>
                            {{ item.product.name }}:
                            {{ item.count }} @ {{ item.price | price }}
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
