{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="span8">
            <h2>Order History</h2>
            <ul>
            {% for order in orders %}
                <li>
                    <a href="{{ url_for('receipt', order_id=order.id) }}">
                        {{- order.harvested | dt -}}
                    </a>:
                    {{ order.total | price }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
