{% extends "base.html" %}
{% import "_macros.html" as macros with context %}
{% block content %}
<div class="row">
<div class="span8">
{% if g.state.open %}

{% if g.admin %}
    <h2>Create an order for {{ user.name }}</h2>
{% else %}
    <h2>Place an order</h2>
    <p>
        Place an order before {{ g.state.next_harvest | dt(True) }}.
    </p>
{% endif %}
<form action="" method="POST">
{{ macros.orderform(products, None) }}
<p>
    <button type="submit" class="btn btn-primary">
        Place order
    </button>
</p>
</form>

{% else %}

<p>
    {{ g.state.closed_message }}
</p>

{% endif %}
</div>
</div>
{% endblock %}
