{% macro prodform(product) -%}
<form action="{{ url_for('products') if product is none
                 else url_for('product', product_id=product.id) }}"
    method="POST" class="form-inline">
    <input type="text" name="name" placeholder="Name"
        value="{{ '' if product is none else product.name }}">
    <input type="text" name="price" pattern="^\$?\d+([\.\,]\d{2})?$"
        placeholder="Price" class="pricefld"
        value="{{ '' if product is none else product.price | price }}">
    <input type="url" name="photo" placeholder="Photo URL"
        value="{{ product.photo or '' }}">
    <button type="submit" class="btn btn-primary">
        {% if product is none %}
            Add
        {% else %}
            Save
        {% endif %}
    </button>
</form>
{% if product is not none %}
<form action="{{ url_for('product', product_id=product.id) }}"
    method="DELETE" class="form-inline prodform">
    <button type="submit" class="btn btn-danger">
        Delete
    </button>
</form>
{% endif %}
{%- endmacro %}

{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span9">

<h3>Products</h3>
<ul class="prodlist unstyled">
{% for product in products %}
    <li>
        {{ prodform(product) }}
    </li>
{% endfor %}
</ul>

<h3>Add a product</h3>
{{ prodform(None) }}

</div>
</div>
{% endblock %}
