{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span8">

<h2>What&rsquo;s available this week</h2>
<ul class="unstyled">
{% for product in products %}
    <li class="product">
        <div class="photo">
            {% if product.photo %}
                <a href="{{ product.link }}">
                    <img src="{{ product.photo }}" width="75" height="75">
                </a>
            {% endif %}
        </div>
        <div class="details">
            <strong class="prodname">
                {{ product.name }}
            </strong>
            <span class="price">
                {{ product.price | price }}
            </span>
        </div>
    </li>
{% endfor %}
</ul>

</div>
</div>
{% endblock %}
